@model List<Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Country List</h1>

<p>
    <a asp-action="Create">Create New Country</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Country country in Model) {
        <tr>
            <td>
                @country.CountryId
            </td>
                <td>
                    @country.CountryName
                </td>
                <td>
                    @country.InternationalCallingCode
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@country.CountryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@country.CountryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@country.CountryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
