@model List<City>

@{
    ViewData["Title"] = "Index";
}

<h1>List City</h1>

<p>
    <a asp-action="Create">Create New City</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                City
            </th>
            <th>
                ZipCode
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (City city in Model) {
        <tr>
            <td>
                    @city.CityName
            </td>
            <td>
                    @city.ZipCode
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@city.CityId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@city.CityId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@city.CityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="People">Create a person</a>
