@model Person

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <h1 class="card-header text-center">Details of the Person</h1>
    <hr />
<dl>
    <dt>Name</dt>
    <dd>@Model.Name</dd>

    <dt>PhoneNumber</dt>
    <dd>@Model.PhoneNumber</dd>

    <dt>City</dt>
    <dd>@Model.City.CityName</dd>
    <dt>Languages</dt>
    @foreach(Language lang in Model.Languages)
    {
        <dd>@lang.LanguageName</dd>
    }
</dl>
</div>
<a asp-action="Index" class="btn btn-dark">Back to the list of people</a>
<br />
<a class="btn btn-primary mt-5" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

<a asp-action="Edit" asp-controller="People" asp-route-id="@Model.Id" class="btn btn-warning mt-5">Edit</a>



