@model List<Person>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-primary" id="create-btn" style="height:auto; justify-content: space-around;" asp-action="Create">Add a person to the list</a>


<div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-10" id="search-addon">
        <i class="fas fa-search"></i>
    </span>
</div>
<div class="row">
    <div class="col-3">Name</div>
    <div class="col-3">PhoneNumber</div>
    <div class="col-3">City</div>
</div>

@foreach (Person person in Model)
{
    if(person != null)
    {
    <div class="row" style="margin: 5px;">
        <div class="col-3">@person.Name</div>
        <div class="col-3">@person.PhoneNumber</div>
        <div class="col-3">@person.City</div>
        <button type="button" class="btn btn-secondary" style="width:auto; height:auto;">@Html.ActionLink("Details", "Details", "People", new {id = person.Id})</button>
    </div>
    }
}

@*@foreach (Person person in Model)
{
    @Html.RadioButtonFor(p => p.SelectName, person.Id, (person.IsSelect.Value) ? new {@checked = "checked"} : null )@person.Name
}*@

            

