@model Person

<div class="row">
    <div class="col-3">@Model.Name</div>
    <div class="col-3">@Model.PhoneNumber</div>
    <div class="col-3">@Model.City</div>
    <div class="col-3">@Model.Id</div>
    <div>@Html.ActionLink("Details", "Details", "People", new {id = Model.Id})</div>
</div>
